                nav {
                    position: absolute;
                    top: 20px;
                    left: 30px;
                    ul {
                        display: flex;
                        li {
                            padding: 2px;
                            a {
                                 :hover {
                                    &::after {
                                        content: "";
                                        display: block;
                                        margin: 0 auto;
                                        width: 60%;
                                        padding-bottom: 0px;
                                        border-bottom: solid yellow 2px;
                                    }
                                }
                            }
                        }
                    }
                }