/////////////////////////////////////////////////////////
////////////// styles for the Home  page    ////////////
////////////////////////////////////////////////////////
.home-hero {
    height: 70vh;
    background: url("../assets/home-header.jpg") no-repeat top;
    background-size: cover;
    h1 {
        margin-left: 50px;
        margin-top: 170px;
        color: $accent-color;
        width: 50%;
    }
}

.hero-image-insert {
    width: 55%;
    position: absolute;
    top: 150px;
    left: 540px;
}

//the section with four informational points
.four-points {
    padding: 150px 10px 130px 130px;
    background-color: lighten ($secondary-color, 5%);
    ul {
        justify-content: space-between;
        li {
            width: 45%;
        }
        h2,
        p {
            color: $primary-color;
        }
        i {
            font-size: 2rem;
            border-radius: 50%;
            background-color: $accent-color;
            padding: 10px;
            position: relative;
            top: 40px;
            left: -60px;
        }
    }
}

// section with programs and locations
.programs-locations {
    padding: 40px;
    background-color: $primary-color;
    ul {
        justify-content: space-between;
    }
    h3 {
        text-transform: uppercase;
    }
    p {
        font-size: 1.5rem;
        // padding-bottom: 15px;
    }
    h3,
    p {
        color: $light-color;
    }
    li {
        width: 45%;
    }
    .programs {
        .yellow-border {
            box-shadow: 20px 20px $accent-color;
            position: relative;
            top: -70px;
            left: -40px;
        }
        .info {
            text-align: left;
            justify-content: space-evenly;
        }
    }
    .locations {
        .yellow-border {
            box-shadow: -20px 20px $accent-color;
            position: relative;
            bottom: -50px;
            right: -50px;
        }
        .info {
            text-align: right;
            justify-content: space-evenly;
        }
    }
}

//the extra vacation days section
.vacation-days {
    padding: 120px 120px 100px 120px; // slightly more padding on the top
    text-align: center;
    background-color: $secondary-color;
    h2 {
        color: $primary-color;
    }
    div {
        padding: 10px 0px;
    }
}

//win a trip of a lifetime section
.win-trip {
    padding: 100px 100px;
    display: flex;
    p,
    h2 {
        color: $primary-color;
    }
}

//the  column with the photo 
.lady-column {
    width: 35%;
    padding: 40px;
    img {
        box-shadow: -20px 20px $accent-color;
    }
}

//the flexed column within the lifetime section
.lifetime-column {
    width: 65%;
    padding: 20px;
    div {
        padding-bottom: 15px;
    }
}

//gallery section 
.gallery {
    background-color: $primary-color;
}

.gallery-photos {
    justify-content: center;
    padding: 20px 20px;
    div {
        margin: 10px;
        width: calc(100%/3 - 60px);
        ;
    }
}

// media queries for the home page
@media (max-width: 1080px) {}

@media (max-width: 960px) {
    .home-hero {
        height: 40vh;
        h1 {
            text-align: center;
            margin: 0px;
        }
    }
}

@media (max-width: 780px) {
    .home-hero {
        h1 {
            font-size: 7rem;
            margin-top: 90px;
        }
    }
    .gallery-photos {
        justify-content: space-evenly;
        padding: 0px 0px;
    }
    .home-footer {
        p,
        a {
            font-size: 1.2rem;
            line-height: 1.3rem;
        }
    }
}

@media (max-width: 650px) {
    .home-hero {
        height: 30vh;
        h1 {
            font-size: 5rem;
        }
    }
}

@media (max-width: 500px) {
    .home-hero {
        h1 {
            font-size: 4rem;
        }
    }
}

@media (max-width: 400px) {
    .home-hero {
        h1 {
            font-size: 3rem;
        }
    }
    .home-footer {
        p,
        a {
            font-size: 1.0rem;
            line-height: 1.2rem;
        }
    }
}