// color palette
$primary-color: #0D457F;
$secondary-color: #EAFEFC;
$accent-color: #FDD908;
$light-color: #ffffff;
//typography and other reusable classes
html {
    font-size: 62.5%;
}

.wrapper {
    max-width: 1200px;
    width: 100%;
    margin: 0px auto;
    /* wrapper border debugger */
    border: gray dotted 1px;
}

img {
    width: 100%;
    display: block;
}

// boat ride..., get in ... blog
h1 {
    font-family: 'IM Fell English', serif;
    font-style: italic;
    font-size: 7.9rem;
    text-transform: uppercase;
}

// new destina..., communi..., blog..., next destin...
h2 {
    font-family: 'IM Fell English', serif;
    font-style: italic;
    font-size: 4.5rem;
    text-transform: uppercase;
}

//our program..., new location...
h3 {
    font-family: 'IM Fell English', serif;
    font-style: italic;
    font-size: 4.0rem;
    line-height: 5.8rem;
    letter-spacing: .13rem;
}

// side back headings (our miss..., recent...)
h4 {
    font-family: 'IM Fell English', serif;
    font-style: italic;
    font-size: 2.5rem;
    line-height: 5.8rem;
    letter-spacing: 0.08rem;
}

//body text
input[type=text],
input[type=email],
textarea,
p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.8rem;
    line-height: 2.8rem;
    letter-spacing: .01rem;
}

i {
    font-size: 2.2rem;
    color: $primary-color;
}

button {
    font-family: 'IM Fell English', serif;
    font-style: italic;
    font-size: 2.24rem;
    line-height: 4.16rem;
    text-align: center;
    background-color: $accent-color;
    color: $primary-color;
    text-transform: uppercase;
    padding: 0px 15px;
}

a {
    font-family: 'Roboto', sans-serif;
    font-size: 1.8rem;
    line-height: 2.9rem;
    letter-spacing: .01rem;
    padding: 0px 20px;
    color: $light-color;
    text-decoration: none;
}

// resuable flex row
.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

// reusable flex column
.flex-column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}