a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio,
canvas,
video {
  display: inline-block;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type=checkbox],
input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button,
html,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: .2em 0;
  background: #ccc;
  color: #000;
  padding: .2em 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

nav {
  position: absolute;
  top: 20px;
  left: 30px;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav ul li {
  padding: 2px;
}

nav ul li a:hover::after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 60%;
  padding-bottom: 0px;
  border-bottom: solid yellow 2px;
}

html {
  font-size: 62.5%;
}

.wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0px auto;
  /* wrapper border debugger */
  border: gray dotted 1px;
}

img {
  width: 100%;
  display: block;
}

h1 {
  font-family: 'IM Fell English', serif;
  font-style: italic;
  font-size: 7.9rem;
  text-transform: uppercase;
}

h2 {
  font-family: 'IM Fell English', serif;
  font-style: italic;
  font-size: 4.5rem;
  text-transform: uppercase;
}

h3 {
  font-family: 'IM Fell English', serif;
  font-style: italic;
  font-size: 4.0rem;
  line-height: 5.8rem;
  letter-spacing: .13rem;
  text-transform: uppercase;
}

h4 {
  font-family: 'IM Fell English', serif;
  font-style: italic;
  font-size: 2.5rem;
  line-height: 5.8rem;
  letter-spacing: 0.08rem;
}

input[type=text],
input[type=email],
textarea,
p {
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
  line-height: 2.8rem;
  letter-spacing: .01rem;
}

i {
  font-size: 2.2rem;
  color: #0D457F;
}

button {
  font-family: 'IM Fell English', serif;
  font-style: italic;
  font-size: 2.24rem;
  line-height: 4.16rem;
  text-align: center;
  background-color: #FDD908;
  color: #0D457F;
  text-transform: uppercase;
  padding: 0px 15px;
}

a {
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
  line-height: 2.9rem;
  letter-spacing: .01rem;
  padding: 0px 20px;
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
}

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer {
  background-color: #FDD908;
  color: #0D457F;
  padding: 5px;
}

footer p {
  text-align: center;
}

footer a {
  color: #0D457F;
  padding: 0px;
}

header .home-hero {
  position: relative;
}

header .home-hero-text {
  position: absolute;
  top: 300px;
  left: 30px;
  color: #FDD908;
  width: 40%;
}

header .hero-image-insert {
  width: 55%;
  position: absolute;
  top: 150px;
  left: 540px;
}

.four-points {
  padding: 150px 10px 130px 130px;
  background-color: lighten #EAFEFC, 5%;
}

.four-points ul {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.four-points ul li {
  width: 45%;
}

.four-points ul h2,
.four-points ul p {
  color: #0D457F;
}

.four-points ul i {
  font-size: 2rem;
  border-radius: 50%;
  background-color: #FDD908;
  padding: 10px;
  position: relative;
  top: 40px;
  left: -60px;
}

.programs-locations {
  padding: 40px;
  background-color: #0D457F;
}

.programs-locations ul {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.programs-locations h3 {
  text-transform: uppercase;
}

.programs-locations p {
  font-size: 1.5rem;
}

.programs-locations h3,
.programs-locations p {
  color: #ffffff;
}

.programs-locations li {
  width: 45%;
}

.programs-locations .programs .yellow-border {
  -webkit-box-shadow: 20px 20px #FDD908;
          box-shadow: 20px 20px #FDD908;
  position: relative;
  top: -70px;
  left: -40px;
}

.programs-locations .programs .info {
  text-align: left;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.programs-locations .locations .yellow-border {
  -webkit-box-shadow: -20px 20px #FDD908;
          box-shadow: -20px 20px #FDD908;
  position: relative;
  bottom: -50px;
  right: -50px;
}

.programs-locations .locations .info {
  text-align: right;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.vacation-days {
  padding: 120px 120px 100px 120px;
  text-align: center;
  background-color: white;
}

.vacation-days h2 {
  color: #0D457F;
}

.vacation-days div {
  padding: 10px 0px;
}

.win-trip {
  padding: 100px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.win-trip p,
.win-trip h2 {
  color: #0D457F;
}

.lady-column {
  width: 35%;
  padding: 40px;
}

.lady-column img {
  -webkit-box-shadow: -20px 20px #FDD908;
          box-shadow: -20px 20px #FDD908;
}

.lifetime-column {
  width: 65%;
  padding: 20px;
}

.lifetime-column div {
  padding-bottom: 15px;
}

.gallery-photos {
  background-color: #0D457F;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 0px;
}

.gallery-photos div {
  margin: 20px;
  width: calc(100%/3 - 120px);
}

.blog-hero {
  position: relative;
}

.blog-hero-text {
  position: absolute;
  top: 100px;
  left: 30px;
  color: #ffffff;
  z-index: 1;
}

.blog-section .title-font {
  font-weight: 800;
}

.blog-section .blog-sidebar {
  width: 35%;
  padding: 120px 40px;
}

.blog-section .blog-sidebar .sidebar-content {
  padding: 25px;
  background-color: #0D457F;
}

.blog-section .blog-sidebar .sidebar-content .sidebar-image {
  width: 110%;
  position: relative;
  top: -40px;
  left: -65px;
}

.blog-section .blog-sidebar .sidebar-content h4 {
  color: #FDD908;
  text-transform: uppercase;
  padding-top: 10px;
}

.blog-section .blog-sidebar .sidebar-content ul {
  list-style-type: circle;
}

.blog-section .blog-sidebar .sidebar-content ul li {
  color: #ffffff;
}

.blog-section .blog-sidebar .sidebar-content p {
  color: #ffffff;
}

.blog-section .blog-article {
  width: calc(65%);
  position: relative;
  top: -80px;
}

.blog-section .blog-article .blog-content {
  padding: 0px 70px 70px 70px;
  border: 2px solid #FDD908;
}

.blog-section .blog-article .blog-content p {
  padding-bottom: 20px;
}

.blog-section .blog-article .blog-image {
  -webkit-box-shadow: -20px 20px #FDD908;
          box-shadow: -20px 20px #FDD908;
}

.blog-section .blog-article h3 {
  padding-top: 40px;
  color: #0D457F;
}

.blog-section .comment-section {
  padding: 10px 70px;
}

.blog-section .comment-section h3 {
  padding-bottom: 20px;
}

.blog-section .comment-section .flex-row {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-bottom: 20px;
}

.blog-section .comment-section .flex-row .comment {
  padding: 0px 20px;
}

.blog-section .comment-section .flex-column {
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.blog-section .blog-form {
  padding: 30px;
}

.blog-section .blog-form div {
  padding-bottom: 30px;
}

.blog-section .blog-form .flex-row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.blog-section .blog-form button {
  width: 90%;
  color: #FDD908;
  background-color: #0D457F;
}

.blog-section .blog-form input[type=text],
.blog-section .blog-form input[type=email] {
  padding: 0px 0px 10px 10px;
  background-color: white;
  border: none;
  border-bottom: 2px #FDD908 solid;
  color: #0D457F;
  width: 45%;
  margin: 5px;
}

.blog-section .blog-form textarea {
  background-color: #ffffff;
  color: #0D457F;
  border: 2px #FDD908 solid;
  resize: none;
  padding: 15px;
  width: 90%;
}

.contact-hero {
  position: relative;
}

.contact-hero-text {
  position: absolute;
  top: 100px;
  left: 30px;
  color: #ffffff;
  z-index: 1;
}

.contact-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 80px 0px 0px 50px;
}

.contact-form {
  background-color: #0D457F;
  -webkit-box-shadow: 20px 20px #FDD908;
          box-shadow: 20px 20px #FDD908;
  padding: 30px;
  width: 70%;
  position: relative;
  top: -180px;
  left: -40px;
}

.contact-form div {
  padding-bottom: 30px;
}

.contact-form .flex-row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-form button {
  width: 90%;
}

.contact-social-address {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 30%;
}

.contact-social-address p {
  color: #0D457F;
}

.contact-social-address div {
  padding-bottom: 15px;
}

.social-icons a {
  padding: 0px;
}

.social-icons li {
  padding: 10px 20px 10px 0px;
}

.application-form {
  text-align: center;
}

input[type=text],
input[type=email] {
  padding: 0px 0px 10px 10px;
  background-color: #0D457F;
  border: none;
  border-bottom: 2px #FDD908 solid;
  color: #ffffff;
  width: 45%;
  margin: 5px;
}

textarea {
  background-color: #0D457F;
  color: #ffffff;
  border: 2px #FDD908 solid;
  resize: none;
  padding: 15px;
  width: 90%;
}
